.stickyNote {
    width: 220px;
    min-height: 160px;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
     border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
}

.stickyNote .sapMText {
    font-size: 0.9rem;
}

.stickyNoteSelected {
    border: 2px solid #0a6ed1; /* Fiori blue */
    box-shadow: 0 4px 12px rgba(10, 110, 209, 0.25);
}
